<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>All User Profiles</h1>
    <nav>
        <a href="/users/">User List</a>
        <a href="/profile/vedant">My Profile</a>
    </nav>
    <ul>
        {% for user in users %}
        <li>
            <a href="/profile/{{user.username}}">
                {{ user.full_name }}
            </a>
            <br>
            <small>{{user.bio}}</small>
        </li>
        {% empty %}
        <li>No users found.</li>
        {% endfor %}
    </ul>
</body>
</html>