<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        .error{
            color: red;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h1>Fill your details</h1>
    <form method="POST">
        {%csrf_token%}
        <label for="name">Name:</label><br>
        {{form.name}}<br>
        {%if form.name.errors %}
            <div class="error">
                {{form.name.errors.0}}
            </div>
        {% endif %}
        <label for="name">Email:</label><br>
        {{form.email}}<br>
        {%if form.email.errors %}
            <div class="error">
                {{form.email.errors.0}}
            </div>
        {% endif %}
        <label for="name">Message:</label><br>
        {{form.message}}<br>
        {%if form.message.errors %}
            <div class="error">
                {{form.message.errors.0}}
            </div>
        {% endif %}

        <button type="submit">Submit</button>
    </form>
</body>
</html>